@model Assignment7.Controllers.ArtistBase

@{
    ViewBag.Title = Model.Name;
}

<div class="page-header">
    <div class='btn-toolbar pull-right'>
        <div class='btn-group pull-right'>  
            @Html.ActionLink("Create New Album", "Create", "Albums", new { id = Model.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
    <h1>@Model.Name</h1>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BirthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthOrStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthOrStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Executive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Executive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlArtist)
        </dt>

        <dd>
            <img src="@Model.UrlArtist" width="200" class="thumbnail" />
        </dd>

    </dl>
</div>